body {
  margin: 0;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}
.row {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.col {
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
}
.header {
  background-color: tan;
  padding: 5px 0;
}
.header-row {
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 70px;
}
.topnav {
  background-color: teal;
}
.topmenu {
  list-style: none;
  padding: 10px 0;
  }
.topmenu a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: #ccc;
  padding: 5px 10px;
}
.site-content{
  display: flex;
}
.aside {
  background-color: tan;
  width: 150px;
}
.main {
  box-sizing: border-box;
  background-color: rgb(70, 182, 59);
  width: calc(100% - 150px);
  padding: 1px 15px;
}
.footer {
  background-color: teal;
}
.catalogItem{
  background: #4270f0;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: calc(100% / 4 - 20px);
	margin-bottom: 20px;
}
.catalogItem__image{
	display: block;
	margin-bottom: 10px;
}

.catalogItem__link{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.catalogItem__link::before, .catalogItem__link::after{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
}

.catalogItem__link::before{
	border-right: 16px solid #fff;
	transform: translateX(-20px);
}

.catalogItem__link::after{
	border-left: 16px solid #fff;
	transform: translateX(20px);
}

.catalogItem:hover .catalogItem__link::before, .catalogItem:hover .catalogItem__link::after{
	opacity: 1;
}

.catalogItem__link:hover::before{
	transform: translateX(-5px) rotate(180deg);
}

.catalogItem__link:hover::after{
	transform: translateX(5px) rotate(-180deg);
}
.footer-texts{
  padding: 10px 0;
  color: #fff;
  justify-content: space-between;
}

@media screen and (max-width: 1100px){
  .catalogItem{
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 15px;
  }
  .aside {
    display: none;
  }
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 700px){
  .catalogItem{
    width: calc(100% / 2 - 20px);
  }
}
@media screen and (max-width: 400px) {
  .topmenu li {
    display: block;
    margin: 10px;
  }
  .topmenu a {
    display: block;
  }
  .catalogItem{
    width: calc(100% - 20px);
  }
  .catalogItem__image{
    display: none;
  }
}